{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <h5 id="popular">most popular in the last 2 weeks:</h5>
        <div id="user-info"></div>
        {% if user.is_authenticated %}
        <div id="new-post">
            <form id="post-form">
                New Post
                <textarea rows="4"></textarea><br>
                <input type="submit" class="submit-btn" value="Post!">
            </form>
        </div>
        {% endif %}
        <div id="posts"></div>
        <div id="pages">
            <div id="prev-page">Previous</div><div id="separator"> - </div><div id="next-page">Next</div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}