body {
    background-color: #1d2021;
    color: whitesmoke;
}

.container {
    display: block;
}

.post, #new-post {
    border: 1px solid rgb(199, 199, 199);
    background-color: #282828;
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    overflow: wrap;
}

textarea {
    width: 95%;
    margin: 10px;
    background-color: rgb(199, 199, 199);
    color: #1d2021;
    border: 1px solid black;
}

#user-info {
    color: #458588;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.timestamp {
    margin-top: 6px;
    font-size: 12px;
    color: #928374;
}

.user {
    font-weight: 700;
    color: #458588;
}

.user:hover, #prev-page:hover, #next-page:hover {
    text-decoration: underline;
    cursor: pointer;
}

.likes {
    display: flex;
    margin-top: 4px;
}

#pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 8px;
}

#prev-page, #separator, #next-page {
    padding-right: 10px;
    color: #d3869b;
    display: inline;
}


.like-count {
    margin-right: 5px;
    font-size: 17px;
}

.edit-btn {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    padding-right: 20px;
    color:#af3a03;
}

.edit-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}

#follow-btn {
    background-color: #282828;
    border: whitesmoke solid 1px;
    color: whitesmoke;
    margin: 8px;
    padding: 6px;
    font-size: 14px;
}

#follow-btn:hover {
    color:#d3869b;
}

.logreg_body {
    display: grid;
    place-items: center;
    padding: 20px;
    text-align: center;
}

h2, h5 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}

#popular {
    color:#458588;
}

.btn-primary {
    width: 300px;
}