body {
    background-color: #1d2021;
    color: whitesmoke;
}

.container {
    display: block;
}

.post, #new-post {
    border: 1px solid rgb(199, 199, 199);
    background-color: #282828;
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    overflow: wrap;
}

textarea {
    width: 95%;
    margin: 10px;
    background-color: rgb(199, 199, 199);
    color: #1d2021;
    border: 1px solid black;
}

#user-info {
    color: #458588;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.timestamp {
    margin-top: 6px;
    font-size: 12px;
    color: #928374;
}

.user {
    font-weight: 700;
    color: #458588;
}

.user:hover {
    text-decoration: underline;
    cursor: pointer;
}

.likes {
    display: flex;
    margin-top: 4px;
}

.like-count {
    margin-right: 5px;
    font-size: 17px;
}

.edit-btn {
    text-align: right;
    font-size: 14px;
    font-weight: 500;
    padding-right: 20px;
    color:#af3a03;
}

.edit-btn:hover {
    text-decoration: underline;
    cursor: pointer;
}